main {
  min-height: 80vh;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  /* text-align: center; */
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 1rem 0 1rem;
}

.rating span {
  margin: 0.1rem;
}
