main {
  min-height: 80vh;
}

h1 {
  text-align: center;
}

h3 {
  padding: 1rem 1rem 0 1rem;
}

.rating span {
  margin: 0.1rem;
}

/* .q-zoom {
  transition: transform 0.2s;
}
.q-zoom :hover {
  transform: scale(1.1);
} */